div{
    position: relative;
    font-size: 5rem;
    font-family: sans-serif;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
}
div::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite;
    overflow: hidden;
    color: #4fed51;
}

@keyframes animate{
    0%{
        width: 0%;
    }
    70%{
        width: 100%;
    }
}